<footer id="footer" th:fragment="footer" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <div class="footer-grid">
            <div>
                <h5>Informazioni</h5>
                <ul>
                    <li><a th:href="@{/shop}">Catalogo</a></li>
                    <li><a th:href="@{/product/special}">Offerte</a></li>
                    <li><a th:href="@{/blog}">Blog</a></li>
                    <li><a th:href="@{/information/sitemap}">Sitemap</a></li>
                </ul>
            </div>
            <div>
                <h5>Servizi</h5>
                <ul>
                    <li><a th:href="@{/cart}">Carrello</a></li>
                    <li><a th:href="@{/checkout}">Checkout</a></li>
                    <li><a th:href="@{/product/compare}">Confronta</a></li>
                    <li><a th:href="@{/information/contact}">Contattaci</a></li>
                </ul>
            </div>
            <div>
                <h5>Account</h5>
                <ul>
                    <li><a th:href="@{/oauth2/authorization/keycloak}" sec:authorize="!isAuthenticated()">Login</a></li>
                    <li><a th:href="@{/account}" sec:authorize="isAuthenticated()">Area account</a></li>
                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a></li>
                    <li><a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Amministrazione</a></li>
                </ul>
            </div>
            <div>
                <h5>Contatti</h5>
                <ul>
                    <li><a href="mailto:support@tsatech.local">support@tsatech.local</a></li>
                    <li><span>+39 800 000 000</span></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="powered">TSATech Commerce - OpenCart-like experience su Spring Boot + OpenShift</p>
    </div>
</footer>
