<footer id="footer" th:fragment="footer" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <div class="footer-grid">
            <div>
                <h5 th:text="#{footer.info}">Informazioni</h5>
                <ul>
                    <li><a th:href="@{/catalogo}" th:text="#{menu.catalog}">Catalogo</a></li>
                    <li><a th:href="@{/catalogo/offerte}" th:text="#{menu.specials}">Offerte</a></li>
                    <li><a th:href="@{/news}" th:text="#{menu.blog}">Blog</a></li>
                    <li><a th:href="@{/mappa-sito}" th:text="#{menu.sitemap}">Sitemap</a></li>
                </ul>
            </div>
            <div>
                <h5 th:text="#{footer.services}">Servizi</h5>
                <ul>
                    <li><a th:href="@{/carrello}" th:text="#{header.cart}">Carrello</a></li>
                    <li><a th:href="@{/checkout-rapido}" th:text="#{header.checkout}">Checkout</a></li>
                    <li><a th:href="@{/catalogo/confronta}" th:text="#{header.compare}">Confronta</a></li>
                    <li><a th:href="@{/contatti}" th:text="#{footer.contact.us}">Contattaci</a></li>
                </ul>
            </div>
            <div>
                <h5 th:text="#{menu.account}">Account</h5>
                <ul>
                    <li><a th:href="@{/oauth2/authorization/keycloak}" sec:authorize="!isAuthenticated()" th:text="#{header.login}">Login</a></li>
                    <li><a th:href="@{/account}" sec:authorize="isAuthenticated()" th:text="#{footer.account.area}">Area account</a></li>
                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()" th:text="#{header.logout}">Logout</a></li>
                    <li><a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')" th:text="#{footer.admin}">Amministrazione</a></li>
                </ul>
            </div>
            <div>
                <h5 th:text="#{menu.contact}">Contatti</h5>
                <ul>
                    <li><a href="mailto:support@tsatech.local">support@tsatech.local</a></li>
                    <li><span>+39 800 000 000</span></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="powered" th:text="#{footer.powered}">TSATech Commerce - OpenCart-like experience su Spring Boot + OpenShift</p>
    </div>
</footer>
